@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
.hide {
  display: none !important;
}

.error {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  border: 1px solid red;
}

.error {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@-webkit-keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

.dark-body {
  background-image: url("../images/bg-mobile-dark.jpg");
  background-color: #161722;
  color: #e4e5f1 !important;
}

@media (min-width: 47.875em) {
  .dark-body {
    background-image: url("../images/bg-desktop-dark.jpg");
  }
}

.dark-content {
  background-color: #25273c !important;
}

.dark-content > * {
  color: #e4e5f1;
  border-color: #484b6a !important;
}

.dark-content .task {
  color: #e4e5f1 !important;
}

.dark-content .task:hover {
  background-color: #484b6a !important;
}

.dark-content .task--done {
  color: #4d5066 !important;
}

.dark-content + .tasks--menu {
  background-color: #25273c !important;
  color: #e4e5f1 !important;
}

.dark-content + .tasks--menu * > :hover {
  color: red !important;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  border-radius: 5px;
  width: 100%;
  -webkit-box-shadow: 2px 5px 10px rgba(72, 75, 106, 0.3);
          box-shadow: 2px 5px 10px rgba(72, 75, 106, 0.3);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.form:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.form .form--new-task {
  width: 100%;
  padding: 1.7rem 3rem 1.7rem 1rem;
  border: none;
  outline: none;
  background-color: #fafafa;
  border-radius: 5px;
  color: #9394a5;
  caret-color: #9394a5;
  font-size: 1.3rem;
}

.form .form--new-task::-webkit-input-placeholder {
  font-size: 1.1rem;
  color: #9394a5;
}

.form .form--new-task:-ms-input-placeholder {
  font-size: 1.1rem;
  color: #9394a5;
}

.form .form--new-task::-ms-input-placeholder {
  font-size: 1.1rem;
  color: #9394a5;
}

.form .form--new-task::placeholder {
  font-size: 1.1rem;
  color: #9394a5;
}

.checkbox--group {
  display: inline-block;
  cursor: pointer;
  margin: 1rem;
  padding-right: 2rem;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.checkbox--group-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox--group-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  border: 1px solid #cacde8;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.checkbox--group:hover .checkbox--group-input ~ .checkbox--group-button {
  background-color: #e4e5f1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.checkbox--group-input:checked ~ .checkbox--group-button {
  background: linear-gradient(0.8turn, #57ddff, #c058f3);
  content: url("../images/icon-check.svg");
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.section--tasks {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #fafafa;
  height: 40rem;
  overflow-y: scroll;
  position: relative;
  -webkit-box-shadow: 1px 5px 10px rgba(22, 23, 34, 0.2);
          box-shadow: 1px 5px 10px rgba(22, 23, 34, 0.2);
  position: relative;
}

@media (max-width: 75em) {
  .section--tasks {
    height: 20rem;
  }
}

@media (max-width: 47.875em) {
  .section--tasks {
    height: 20rem;
  }
}

.section--tasks .task {
  padding: 2rem 3rem 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #e4e5f1;
  color: #484b6a;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: capitalize;
}

.section--tasks .task:hover {
  background-color: #e4e5f1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.section--tasks .task--selected {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #cacde8;
}

.section--tasks .task--done {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.section--tasks .task--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
}

.section--tasks .task--close {
  font-size: 0.8rem;
  cursor: pointer;
}

.tasks--resume {
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #9394a5;
  position: relative;
  top: 0;
}

.tasks--resume .tasks--menu-actual {
  color: #3a7bfd;
}

.tasks--resume .tasks--clear {
  cursor: pointer;
}

.tasks--resume .tasks--clear:hover {
  color: #3a7bfd;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

button {
  border: none;
  background-color: transparent;
  color: #9394a5;
  font-size: 1.2rem;
  font-weight: 600;
}

.tasks--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #fafafa;
  color: #9394a5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tasks--menu .task--menu-item {
  border: none;
  background-color: none;
  cursor: pointer;
}

.tasks--menu-desktop {
  width: 40%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1.5rem 0;
  border-radius: 5px;
}

@media (max-width: 53.125em) {
  .tasks--menu-desktop {
    display: none;
  }
}

.tasks--menu-mob {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 2rem;
  padding: 1.5rem 0;
  border-radius: 5px;
  font-size: 1.3rem;
  margin-bottom: 4rem;
}

@media (min-width: 53.125em) {
  .tasks--menu-mob {
    display: none;
  }
}

.tasks--menu > *:hover {
  color: #3a7bfd;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

body {
  background: #e4e5f1;
  background-image: url("../images/bg-mobile-light.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Josefin Sans", sans-serif;
}

@media (min-width: 47.875em) {
  body {
    background-image: url("../images/bg-desktop-light.jpg");
  }
}

.main {
  width: 90%;
  position: absolute;
  top: 30rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 75em) {
  .main {
    top: 40rem;
  }
}

.main .header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fafafa;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1rem;
}

.main .header img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.main .section--new-task {
  padding: 2rem 0;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */