.form {
  display: flex;
  align-items: center;
  background-color: $lightPrimaryGray;
  border-radius: 5px;
  width: 100%;
  box-shadow: 2px 5px 10px rgba($color: $PrimaryGreyDark, $alpha: 0.3);
  transition: all 0.25s;
  &:hover {
    transform: translateY(-0.3rem);
    transition: all 0.25s;
  }
  .form--new-task {
    width: 100%;
    padding: 1.7rem 3rem 1.7rem 1rem;
    border: none;
    outline: none;
    background-color: $lightPrimaryGray;
    border-radius: 5px;
    color: $PrimaryGrayBlueDark;
    caret-color: $PrimaryGrayBlueDark;
    font-size: 1.3rem;

    &::placeholder {
      font-size: 1.1rem;
      color: $PrimaryGrayBlueDark;
    }
  }
}
