//Colors
$colorPrimary: hsl(220, 98%, 61%);
$backgroundGradient: linear-gradient(
  0.8turn,
  hsl(192, 100%, 67%),
  hsl(280, 87%, 65%)
);

//White colors
$lightPrimaryGray: hsl(0, 0%, 98%);
$lightPrimaryBlueLight: hsl(236, 33%, 92%);
$LightGrayishBlue: hsl(233, 11%, 84%);
$PrimaryGrayBlueDark: hsl(236, 9%, 61%);
$PrimaryGreyDark: hsl(235, 19%, 35%);

//Dark mode
$darkPrimaryColor: hsl(235, 21%, 11%);
$darkContent: hsl(235, 24%, 19%);
$LightGrayishBlue: hsl(234, 39%, 85%);
$LightGrayishBlue: hsl(236, 33%, 92%);
$DarkGrayishBlue: hsl(234, 11%, 52%);
$VeryDarkGrayishBlue: hsl(233, 14%, 35%);
$VeryDarkGrayisBlue: hsl(237, 14%, 26%);
